@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


/**QUERIES**/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .h-sm-100 {
      height: 100%;
  }

  #about .col-md .img {
    display: none !important;
  }
  /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* Extra extra large devices (extra large desktops, 1400px and up) */
@media (min-width: 1400px) {

}

}


/**KEYFRAMES**/
@keyframes fadein-down {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slidein {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }

}

@keyframes slidedown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }

}

@keyframes rotate-word {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    transform: translateY(0px);
  }
  17% {
    opacity: 1;
    transform: translateY(0px);
  }
  20% {
    opacity: 0;
    transform: translateY(30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/**ANIMATIONS and TRANSITIONS**/
#fadein {
  opacity: 0;
  transition: opacity 250ms ease-in
}

#fadein.appear {
  opacity: 1;
}


/**PAGE TWEAK**/

.row {
  margin: none !important;
  padding: none !important;
}

/**FONTS**/
h1, h2, h3, h4, h5 {
  font-family: 'Playfair Display', serif;
}


/**TITLE & NAV BAR**/
.title {
  padding-left: 2em;
}

#title-animation {
  animation-duration: 2s;
  animation-name: fadein-down;
  padding-left: 2em;
}

#nav-animation {
  animation-duration: 2s;
  animation-name: fadein-down;
}

#menu {
  padding-left: 2em;
}

.dropdown {
  animation-duration: 2s;
  animation-name: fadein-down;
}

.dropdown-item {
  animation-duration: 2s;
  animation-name: fadein;
}

/**CAROUSEL JUMBOTRON**/
#carousel-animation {
  animation-duration: 2s;
  animation-name: fadein-down;
  margin: none !important;
  padding: none !important;
  background-color: grey;
}

.carousel-item {
  transition: transform 2s ease-in-out;
  transition-delay: 1s;
}

.carousel-item img {
  filter: brightness(75%);
  object-fit: none; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  width: 100%;
  max-height: 800px;
  margin-bottom: 1rem;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  transition: opacity 0s 5s;
}


/**CAROUSEL CAPTION ANIMATIONS**/
.carousel-caption {
  transform: translateY(-5%);
  bottom: initial;
  top: 60%;
  animation-duration: 2s;
  animation: rotate-word 18s linear infinite 0s;
}

.caption-inner {
  width: 80%;
  position: relative;
  margin: 110px auto 0 auto;
  font-family: 'Playfair Display', serif;
  padding: 10px;
}


.carousel-caption span {
  position: relative;
  bottom: 2em;
  opacity: 80%;
  overflow: hidden;
  animation: rotate-word 18s linear infinite 0s;
}

.carousel-caption span:nth-child(2) {
  animation-delay: 3s;
}

.carousel-caption span:nth-child(3) {
  animation-delay: 6s;
}

.carousel-caption span:nth-child(4) {
  animation-delay: 9s;
}

.carousel-caption span:nth-child(5) {
  animation-delay: 12s;
}

.carousel-caption span:nth-child(6) {
  animation-delay: 15s;
}

/**ABOUT**/
#about .img-fluid {
  animation: slidein;
  animation-duration: 1.75s;
}

#about .col-md {
  width: 75%;
}

#about {
  background-color: aliceblue;
}


/**FEATURED WORKS**/
#featured-works .img-fluid {
  animation-duration: 2s;
  animation-name: fadein-down;
}

/**EVENTS**/
#events {
  animation: slidein;
  animation-duration: 2s;
  display: block;
  width: 75%;
}

#events .img-fluid{
  animation: slidein;
  animation-duration: 2s;
}

.typewriter.lead {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .2em; /* Adjust as needed */
  animation:
    typing 1s steps(30, end),
    blink-caret 3.5s step-end infinite;
}


/**TEAM CARDS**/
#our-team {
  background-color: aliceblue;
  display: block;
  width: 75%;
}

.card-title {
  padding-top: 1em;
}

.card-caption {
  position: relative;
  top: 3em;

}

.card-caption .h5 {
  position: absolute;
}

.card .img-fluid {
  border: none !important;
}

.card .card-img-top {
  border: none !important;
}

/**CONTACT**/
.mapbox {
  position: relative;
  bottom: 3em;
  left: 4em;
}

#contact-map .col-md {
  position: relative;
  right: 4em;
}

/**FOOTER**/
#footer-animation {
  animation-duration: 3s;
  animation-name: fadein;
}

.footer-container .bi {
  position: relative;
  left: 100px;
  top: .5em;
}




/*# sourceMappingURL=style.css.map */
